body{
	margin: 0px;
}
p{
	-webkit-hyphens: manual;
	-moz-hyphens: manual;
	-ms-hyphens: manual;
}
.container {
	width: 1280px;
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*Start header*/
.header-wrap{
	background-color: #445162;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 50px 50px 45px 50px;
}
.header-text-wrap h1{
	color:  #ffffff;
	font-size: 60px;
	font-weight: 400;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	margin-top: -10px;
	margin-bottom: 25px;
}
.header-text-list{
	color:  #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.header-text-list_item{
	position: relative;
	padding-left: 35px;
}
.header-text-list_item:before{
	display: block;
	position: absolute;
	content: "";
	background-image: url(../images/check.svg);
	width: 25px;
	height: 25px;
	-webkit-background-size: cover;
	background-size: cover;
	top: 5px;
	left: -1px;
}
.header-text-wrap img{
	display: block;
}
/*End header*/

/*Start section about*/
.about-section-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 50px 50px 45px 50px;
	justify-content: space-between;
	background-color: #fcfcfc;
}
.about-section-wrap h3{
	color:  #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	margin: 0;
}
.about-section-wrap p{
	color:  #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-right: 99px;
}
.about-section-wrap video{
	width: 75%;
}
/*End section about*/

/*Start section Dignity*/
.dignity-section-wrap{
	background-color: #f5f5f5;
	padding: 50px 50px 45px 50px;
}
.dignity-section-wrap article{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.dignity-section-wrap h3{
	color:  #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 22px;
	width: 100%;
}
.dignity-ul_wrap{
	width: 50%;
}
.dignity-ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	color:  #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.dignity-ul_item{
	position: relative;
	padding: 0 15px 25px 40px;
}
.dignity-ul_item:before{
	display: block;
	position: absolute;
	content: "+";
	background-color: #445161;
	color: #fff;
	width: 32px;
	height: 32px;
	font-size: 40px;
	text-align: center;
	line-height: 32px;
	top: 3px;
	left: 0px;
	border-radius: 3px
}
/*End section Dignity*/

/*Start section Scrinshots*/
.scrinshots-section-wrap{
	background-color: #fcfcfc;
	padding: 22px 50px 18px 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.scrinshots-section-wrap h3{
	width: 100%;
	color:  #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	margin-bottom: 28px;
	margin-top: 0;
}

.scrinshots-content{
	display: inherit;
	width: 50%;
	margin-bottom: 25px;
}
.scrinshots-content img{
	margin-right: 15px;
}
.scrinshots-content h4{
	margin: 0;
	color:  #445161;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}
.scrinshots-content p{
	margin-top: 5px;
	margin-bottom: 0;
	padding-right: 15px;
	color:  #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
/*End section Scrinshots*/

/*Start section Reviews*/
.reviews-section-wrap{
	background-color: #f5f5f5;
	padding: 22px 25px 30px 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.reviews-section-wrap h3{
	color:  #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	margin-top: 23px;
	width: 100%;
}
.rewiews-content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 20px;
	/*padding: 0px 16px 0px 16px;*/
	width: 50%;
}

.author_img{
	width: 243px;
	height: 75px;
	background-image: url(../images/352849_m.jpg);
	background-size: cover;
	border-radius: 50%;
	margin: 0 25px 0 20px;
}
.rewiews-content_item{
	background-color: #ececec;
	padding: 10px 20px 17px 20px;
	border-radius: 5px;
	position: relative;
	margin-right: 15px;
}
.rewiews-content_item:before{
	position: absolute;
	background-image: url(../images/message_icon_reviews.png);
	content: "";
	width: 15px;
	height: 30px;
	left: -12px;
	top: 20px;
}
.rewiews-content p{
	margin: 0;
	color:  #333333;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
}
.signature{
	display: block;
	margin-top: 5px;
	color:  #989898;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}
/*End section Reviews*/

/*Start section Buy*/
.buy-section-wrap{
	padding: 45px 145px 50px 145px;
	background-color: #fcfcfc;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.buy-section-wrap h3{
	color:  #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	width: 100%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 27px;
}
.buy_section{
	background-color: #425062;
	border-radius: 5px;
	width:30%;
}
.buy_section h4{
	color:  #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 13px;
}
.price{
	display: block;
	color:  #445162;
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
	background-color: #fff;
	text-align: center;
	padding: 18px;
	border: 1px solid #425062;
}
.buy_section ol{
	width: 100%;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-right: 35px;
	padding-left: 19px;
	list-style-position: inside;
}
.buy_section-link_button{
	border-radius: 5px;
	background-color: #ffffff;
	margin: 0 20px 20px 20px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	text-align: center;
	padding: 13px 0 13px 0;
	color: #445161;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}
.buy_section-link_button:hover{
	background-color: #DBDBDB;
}
.buy_section-link_button:active{
	color: #000;
	background-color: #fff;
}
/*End section Buy*/

/*Start footer*/
.main-footer{
	background-color: #445162;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}
.main-footer h3{
	color:  #ffffff;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	width: 100%;
	text-align: center;
	margin-top: 43px;
	margin-bottom: 25px;
}
.contacs-info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-bottom: 15px;
}
.contacs-info a{
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: none;
	margin-bottom: 18px;

}
.contacs-info_skype-img,.contacs-info_icq-img, .contacs-info_mail-img,.contacs-info_pone-img{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.contacs-info_skype-img:before{
	content: "";
	display: block;
	background-image: url(../images/skype_icon.png);
	background-size: cover;
	width: 24px;
	height: 26px;
	margin: 0 5px 0 0;
}
.contacs-info_icq-img:before{
	content: "";
	display: block;
	background-image: url(../images/icq_icon.png);
	background-size: cover;
	width: 26px;
	height: 26px;
	margin: 0 5px 0 0;
}
.contacs-info_mail-img:before{
	content: "";
	display: block;
	background-image: url(../images/email_icon.png);
	background-size: cover;
	width: 22px;
	height: 22px;
	margin: 0 5px 0 0;
}
.contacs-info_pone-img:before{
	content: "";
	display: block;
	background-image: url(../images/phone_icon.png);
	background-size: cover;
	width: 24px;
	height: 23px;
	margin: 0 5px 0 0;
}
.footer-feedback-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	margin-right: 50px;
	width:500px; 
}
.footer-feedback-form_input, textarea{
	padding: 5px 10px 5px 10px;
	color: #445162;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border-radius: 5px;
	margin-bottom: 22px;
	width: 100%;
	resize: none;
	outline: none;
	border: none;
}
.social_icons{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background-image: url(../images/social_buttons.png);
	-webkit-background-size: cover;
	background-size: cover;
	width: 240px;
	height: 42px;
}
.social_icons a{
	width: 42px;
}
.footer-feedback-form_button{
	border-radius: 5px;
	background-color: #ffffff;
	color: #445162;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	padding: 5px 48px;
	margin-bottom: 40px;
	outline: none;
	border: none;
}
.footer-feedback-form_button:hover{
	background-color: #DBDBDB;
}
.footer-feedback-form_button:active{
	color: #000;
	background-color: #fff;
}
.footer-copyright{
	color:  #445162;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
	line-height: 24px;
	text-align: center;
	background-color: #f5f5f5;
}
.footer-copyright p{
	margin: 0;
	padding: 5px 0 0 0;
}
/*End footer*/